<div class="nav-bar">
    <div class="title">Orders</div>
</div>
<div class="order-container">
    <section>
        <div class="order-cards">
            <% @orders.each do |order| %>
                <%= render partial:'order_card', locals: {order: order}%>
            <% end %>
        </div>
    </section>
</div>